<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../sass/component/_button.scss"/>
    <link rel="stylesheet" type="text/css" href="../sass/base/typography.scss"/>
    <link rel="stylesheet" type="text/css" href="../sass/base/utilities.scss"/>
    <link rel="stylesheet" type="text/css" href="../sass/pages/_home.scss"/>
    <link rel="stylesheet" type="text/css" href="../sass/layout/_grid.scss"/>
    <meta charset="UTF-8">
    <title>Natours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900">
    <link rel="stylesheet" href="../css/myStyle.css">
    <link rel="icon" href="../img/favicon.png">
</head>
<body>
<header class="header">
    <div class="header__logo-box">
        <img src="../img/logo-white.png" alt="Logo" class="header__logo">
    </div>
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Outdoors</span>
            <span class="heading-primary--sub">is where life happens</span>
        </h1>
        <a href="#" class="btn btn--white btn--animated">
            Discover Our Tours
        </a>
    </div>
</header>
<main>
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Exciting tours for adventurous people
        </h2>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <h3 class="heading-tertiaryy u-margin-bottom-small">You're going to fall in love with nature</h3>
            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Amet corporis eos est eum, excepturi facilis itaque
                laborum nesciunt nihil officia omnis, porro quidem recusandae
                reiciendis reprehenderit saepe suscipit, vitae voluptatum.
            </p>
            <h3 class="heading-tertiary u-margin-bottom-small">Live adventures like you never ahve before</h3>
            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur at
                atque autem beatae deserunt eos, error facilis
                inventore ipsum, magnam minus molestiae molestias
                mollitia nemo obcaecati optio pariatur voluptatum.</p>
            <a href="#" class="btn-text">Learn more &rarr;</a>
        </div>
        <div class="col-1-of-2">
            Image composition
        </div>
    </div>
</main>

<!--<section class="grid-test">-->
<!--<div class="row">-->
<!--<div class="col-1-of-2">-->
<!--Col 1 of 2-->
<!--</div>-->
<!--<div class="col-1-of-2">-->
<!--Col 1 of 2-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-1-of-3">-->
<!--Col 1 of 3-->
<!--</div>-->
<!--<div class="col-1-of-3">-->
<!--Col 1 of 3-->
<!--</div>-->
<!--<div class="col-1-of-3">-->
<!--Col 1 of 3-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-1-of-3">-->
<!--Col 1 of 3-->
<!--</div>-->
<!--<div class="col-2-of-3">-->
<!--Col 2 of 3-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-1-of-4">-->
<!--Col 1 of 4-->
<!--</div>-->
<!--<div class="col-1-of-4">-->
<!--Col 1 of 4-->
<!--</div>-->
<!--<div class="col-1-of-4">-->
<!--Col 1 of 4-->
<!--</div>-->
<!--<div class="col-1-of-4">-->
<!--Col 1 of 4-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-1-of-4">-->
<!--Col 1 of 4-->
<!--</div>-->
<!--<div class="col-1-of-4">-->
<!--Col 1 of 4-->
<!--</div>-->
<!--<div class="col-2-of-4">-->
<!--Col 2 of 4-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-1-of-4">-->
<!--Col 1 of 4-->
<!--</div>-->
<!--<div class="col-3-of-4">-->
<!--Col 3 of 4-->
<!--</div>-->

<!--</div>-->
<!--</section>-->


<script type="text/javascript">
    console.log("Hello World!");
</script>
</body>
</html>