//COLORS
$colorPrimary: #7ed56f;
$colorPrimaryLight: #55c57a;
$colorPrimaryDark: #28b485;
$colorGreyDark: #777;
$colorWhite: #fff;
$colorBlack: #000;
$colorGreyLight1: #f7f7f7;

//FONT
$defaultFontSize: 1.6rem;

//GRID
$gridWidth: 114rem;
$gutterVertical: 8rem;
$gutterHorizontal: 6rem;
